
            <form>
                <div >
                    <label htmlFor="email">email</label>
                    <input type="email" id="email"></input>
                </div>
                <div >
                    <label htmlFor="pass">password</label>
                    <input type="pass" id="pass"></input>
                </div>
                <div >
                    <button type="button">Sign up</button>
                    <button type="submit">Submit</button>
                </div>
            </form>
       